In [10]:
import pandas as pd
companies_filename = '/Users/Shweta/Sustainability_WebScraping/WebScraping/project/ESGscraper/Forbes.csv'
df = pd.read_csv(companies_filename)
print(df)

      Unnamed: 0  Rank                                      Name  \
0              0     1                                      ICBC
1              1     2                            JPMorgan Chase
2              2     3                        Berkshire Hathaway
3              3     4                   China Construction Bank
4              4     5  Saudi Arabian Oil Company (Saudi Aramco)
...          ...   ...                                       ...
1995        1995  1996                                     JTEKT
1996        1996  1997                 Insurance Australia Group
1997        1997  1997                         Sumec Corporation
1998        1998  1999                               Gold Fields
1999        1999  1999                                    Paycom

            Country     Sales    Profit      Assets Market Value
0             China  $190.5 B   $45.8 B  $4,914.7 B     $249.5 B
1     United States  $136.2 B   $40.4 B  $3,689.3 B     $464.8 B
2     United States  $245.5 B   $42.5 B    $873.7 B     $624.4 B
3             China  $173.5 B   $39.3 B  $4,301.7 B     $210.4 B
4      Saudi Arabia  $229.7 B   $49.3 B    $510.3 B   $1,897.2 B
...             ...       ...       ...         ...          ...
1995          Japan   $13.1 B  $-34.9 M       $12 B       $3.5 B
1996      Australia    $5.4 B   $-212 M       $25 B       $9.3 B
1997          China     $13 B   $79.2 M      $7.1 B       $1.3 B
1998   South Africa    $3.9 B  $718.1 M      $7.5 B       $8.9 B
1999  United States    $841 M  $143.4 M      $2.6 B        $24 B

[2000 rows x 8 columns]

In [11]:
Company = df.loc[0]['Name']
print(Company)

ICBC

In [3]:
from sqlalchemy import create_engine
DATABASE_TYPE = 'postgresql'
DBAPI = 'psycopg2'
ENDPOINT = 'aicoredb.cqozfzbqiixg.eu-west-2.rds.amazonaws.com' # Change it for your AWS endpoint
USER = 'postgres'
PASSWORD = 'shweta20'
PORT = 5432
DATABASE = 'postgres'
engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")
print(engine)

Engine(postgresql+psycopg2://postgres:***@aicoredb.cqozfzbqiixg.eu-west-2.rds.amazonaws.com:5432/postgres)

In [ ]:
import unittest

from project.rds_uploader.rds_module import RdsUploader
class RDSUploaderTestCase(unittest.TestCase):

    def setUp(self):
        username = input('Username : ')
        password = input('Password : ')
        self.rdsuploader = RdsUploader(
            'postgresql', 'psycopg2', 'aicoredb.cqozfzbqiixg.eu-west-2.rds.\
                amazonaws.com', 5432, 'postgres', 'postgres', 'shweta20')

    def test_init(self):
        expected_value = 'Engine(postgresql+psycopg2://postgres:***@aicoredb.\
            cqozfzbqiixg.eu-west-2.rds.amazonaws.com:5432/postgres)'
        actual_value = self.rdsuploader.engine
        print(actual_value)

In [13]:
class RdsUploader:
    def __init__(self, DATATBASE_TYPE, DBAPI, ENDPOINT):
        self.DATATBASE_TYPE - DATATBASE_TYPE
        ...
        engine = create_engine(f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{ENDPOINT}:{PORT}/{DATABASE}")

    def create_table(self, df):
        df.to_sql('name',self.engine, if_exists = 'replace')

    def send_query(Self, query):
        engine.execute()

In [2]:
engine.connect()

In [15]:
import pandas as pd
df = pd.read_csv('Forbes.csv', index_col=0)
df.head()

,Rank,Name,Country,Sales,Profit,Assets,Market Value
0,1,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,2,JPMorgan Chase,United States,$136.2 B,$40.4 B,"$3,689.3 B",$464.8 B
2,3,Berkshire Hathaway,United States,$245.5 B,$42.5 B,$873.7 B,$624.4 B
3,4,China Construction Bank,China,$173.5 B,$39.3 B,"$4,301.7 B",$210.4 B
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$229.7 B,$49.3 B,$510.3 B,"$1,897.2 B"

In [16]:
df.to_sql('forbes2000', engine, if_exists='replace')

In [18]:
df1 = pd.read_sql_table('forbes2000', engine)
df1.head()

,index,Rank,Name,Country,Sales,Profit,Assets,Market Value
0,0,1,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,1,2,JPMorgan Chase,United States,$136.2 B,$40.4 B,"$3,689.3 B",$464.8 B
2,2,3,Berkshire Hathaway,United States,$245.5 B,$42.5 B,$873.7 B,$624.4 B
3,3,4,China Construction Bank,China,$173.5 B,$39.3 B,"$4,301.7 B",$210.4 B
4,4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$229.7 B,$49.3 B,$510.3 B,"$1,897.2 B"

In [25]:
test_dict = {'A': [], 'B': []}
test_dict['A'] = 2
df1 = pd.DataFrame.from_dict(test_dict)
df1

Empty DataFrame
Columns: [A, B]
Index: []

In [26]:
import sys
print(sys.path)

['/Users/Shweta/Sustainability_WebScraping/WebScraping', '/Users/Shweta/.vscode/extensions/ms-toolsai.jupyter-2021.6.999662501/pythonFiles', '/Users/Shweta/.vscode/extensions/ms-toolsai.jupyter-2021.6.999662501/pythonFiles/lib/python', '/opt/miniconda3/lib/python39.zip', '/opt/miniconda3/lib/python3.9', '/opt/miniconda3/lib/python3.9/lib-dynload', '', '/opt/miniconda3/lib/python3.9/site-packages', '/opt/miniconda3/lib/python3.9/site-packages/IPython/extensions', '/Users/Shweta/.ipython']